

<table style="width:100%">
  <tr>
    <th align="left"> Title </th>
    <th align="center"> Description </th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td align="left"><%= article.title %></td>
    <td aling="center"><%= article.description %></td>
    <td align="right"><%= link_to 'Edit', edit_article_path(article) %></td>
    <td align="right"><%= link_to 'Show', article_path(article) %></td>
    <td align="right"><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}  %></td>
  </tr>
  <% end %>
</table>
<br><br>
<p>
  <%= link_to "Create a new article", new_article_path %>
</p>
