

<!-- <table style="width:100%">
  <tr>
    <th align="left"> Title </th>
    <th align="center"> Description </th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td align="left"><%= article.title %></td>
    <td aling="center"><%= article.description %></td>
    <td align="right"><%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary" %></td>
    <td align="right"><%= link_to 'Show', article_path(article), class: "btn btn-xs btn-success" %></td>
    <td align="right"><%= link_to 'Delete', article_path(article), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"}  %></td>
  </tr>
  <% end %>
</table>
<br><br>
<p>
  <%= link_to "Create a new article", new_article_path, class: "btn btn-xs btn-primary" %>
</p> -->

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.description, length: 100) %>
        </div>
        <div class="article-actions">
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to 'Delete this article', article_path(article), method: :delete,
                                                                    data: { confirm: "Are you sure to delete?" },
                                                                    class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="col-xs-8 col-xs-offset-2">
  <%= link_to "New Article", new_article_path, class: "btn btn-md btn-primary" %>
  <%= link_to "Home", root_path, class: "btn btn-xs btn-default" %>
</div>
