
<div class="well col-xs-8 col-xs-offset-2 title-show">
  <h4><strong><%= @article.title %> </strong></h4>
  <hr>
  <div class="custom-description">
    <%= simple_format(@article.description) %>
  </div>
  <div class="article-actions">
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Delete this article', article_path(@article), method: :delete,
                                                               data: { confirm: "Are you sure to delete?" },
                                                               class: "btn btn-xs btn-danger" %>
    <%= link_to 'View all articles', articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
